

body {  
    /* background-image: #B5DAE7; */
    font-family: monospace;
    background-image: url(/src/images/Tahoe.jpg);
    background-size: cover;
    background-attachment: fixed;
}

/* ******** Begin Header and NavBar ******** */

header {
    position: fixed;
    background-color: aliceblue;
    border: 1px ridge black;
    box-shadow: 3px 3px 3px 3px grey;
    width: 98%;
    height: 100px;
    top: 0;
    margin-top: 5px;
    /* opacity: 0.8; */
    z-index: 1;
    
}

img {
    width: 9%;
}

#head-1 {
    position: fixed;
    left: 0;
    top: 0;
    margin-left: 7%;
    margin-top: 11px;
}

#head-2 {
    position: fixed;
    right: 0;
    top: 0;
    margin-right: 7%;
    margin-top: 11px;
}

/* top image commented out now that I have background image*/

/* .banner-image { 
    position: absolute;
    width: 100%;
    border: 2px groove grey;
    box-shadow: 2px 2px 2px grey;
    z-index: -1;
} */


header h1 {
    text-align: center;
    /* text-shadow: 2px 2px 2px grey; */
    color: grey;
    background-color: rgba(174,216,156);
    border: 4px solid grey;
    box-shadow: 2px 2px 2px grey;
    width: 50%;
    padding:9px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 2px;
}

nav ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 5%;
    position: relative;
    top: -29px;
}

nav a {
    color: grey;
    border: 2px solid grey;
    background-color: #AED89C;
    padding: 6px;
}

/* ******* END Header and NavBar ******* */


/* *** BEGIN Fieldset and Input *** */

#formContainer {
    margin-top: 140px;
    margin-bottom: 65px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 80%;
    max-width: 450px;
    padding: 20px;
    background-color: rgba(240, 248, 255, 0.8);
    border: 1px solid black;
    border-radius: 15px;

}

fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border-radius: 15px; */
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(174,216,156);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* border: 2px ridge black;
    background-color:  rgba(174,216,156,0.67); */
    margin-left: auto;
    margin-right: auto;
    /* width: 80%; */
    position: relative;
}

#submit { 
    text-align: center;
    margin-left: 40%;
    margin-right: auto;
    width: 100px;
    height: 15px;
}

legend {
    background-color: antiquewhite;
}

#radioButtons {
    display: flex;
    flex-direction: row;
}
#filterContainer {
    margin-top: 15px;
}
#radioButtons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/*  **** END Fieldset and Input **** */


/* ****** Begin Past-Entry Format ******* */

#entriesContainer {
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 80%;
    max-width: 550px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(240, 248, 255, 0.8);
    border: 1px solid black;
    border-radius: 15px;

}
.entry {
    border: 1px ridge black;
    border-radius: 15px;
    background-color: rgba(174,216,156);
    text-align: center;
    width: 76%;
    padding: 2%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

.entryDate {
    background-color: antiquewhite;
    border: 1px solid black;
    opacity: 80%;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}


.entryConcept {
    /* border-top: 2px solid grey; */
    padding: 4px;
    border-bottom: 2px solid grey;
    
}

.entryMood{
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 4px;
}

/* ****** END Past-Entry Format ******** */