
:root {
    --primaryGreen: rgb(127, 168, 109);
    --primaryGreenOpacity: rgba(127, 168, 109, 0.67);
    --primaryBackGroundBlue: rgb(182, 199, 223);
    --primaryBlue: rgb(220, 237, 250);
    --primaryBlueOpacity: rgba(220, 237, 250, 0.8);

    --borderColor: #c9c9c9;

}

body {  
    /* background-image: #B5DAE7; */
    font-family: monospace;
    background-image: url(/src/images/Tahoe.jpg);
    background-size: cover;
    background-attachment: fixed;
}

/* ******** Begin Header and NavBar ******** */

header {
    position: fixed;
    background-color: var(--primaryBlue);
    border-bottom: 1px ridge lightgray;
    border-top: 6px solid var(--primaryBackGroundBlue);
    box-shadow: 2px 2px 2px 2px grey;
    width: 98%;
    height: 100px;
    top: 0;
    margin-left: -7px;
    padding-left: 10px;
    z-index: 1;
    
}

header h1 {
    text-align: center;
    text-shadow: 2px 2px 2px grey;
    color: var(--primaryBlue);
    background-color: var(--primaryBackGroundBlue);
    box-shadow: 2px 2px 2px grey;
    width: 50%;
    padding:9px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 5px;
}


#head-1 {
    position: fixed;
    left: 0;
    top: 0;
    margin-left: 7%;
    margin-top: 10px;
    height: 92px;
}

#head-2 {
    position: fixed;
    right: 0;
    top: 0;
    margin-right: 7%;
    margin-top: 10px;
    height: 92px;
}

@media (max-width: 500px) {
    #head-1 { display: none; }
    #head-2 { display: none; }
}


button {
    color: midnightblue;
    opacity: none;
    transition: 0.3s ease;
    padding: 3px;
    border-radius: 2px;
}
button:hover {
    color: black;
    background-color: antiquewhite;
    padding:4px;
    transition: 0.3s ease;
}

/* Future Nav Bar */

/* nav ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 5%;
    position: relative;
    top: -29px;
}

nav a {
    color: grey;
    border: 2px solid grey;
    background-color: var(--primaryGreen);
    padding: 6px;
} */

/* ******* END Header and NavBar ******* */


/* *** BEGIN Fieldset and Input *** */

#formContainer {
    margin-top: 155px;
    margin-bottom: 65px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 80%;
    max-width: 450px;
    padding: 20px;
    background-color: var(--primaryBlueOpacity);
    border: 2px ridge var(--borderColor);
    border-radius: 15px;

}

#formContainer h1 {
    
    background-color: antiquewhite;
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    position: relative;
    width: 80%;
    border: 2px ridge var(--borderColor);
    overflow: hidden;
    background-color: var(--primaryBackGroundBlue);
}

fieldset {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--primaryBackGroundBlue);
    border: 2px ridge var(--borderColor);
}

form fieldset {
    border: none;
    width: 95%;
    display: flex;
    justify-content: center;
}


/* position entry components */

.hidden {
    display: none;
}


form fieldset input {
   margin-left: auto;
   margin-right: auto;
   width: 55%;
   text-align: center;
}

form fieldset textarea {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    margin-bottom: 3px;
    width: 65%;
    height: 55px;
}

form fieldset select {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    margin-bottom: 3px;
    width: 45%;
}


#submit { 
    text-align: center;
    margin-top: 3px;
    margin-left: 40%;
    margin-right: auto;
    width: 100px;
}

legend {
    background-color: antiquewhite;
}

#filterByMood {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--primaryBackGroundBlue);
}

#searchContainer {
    margin-top: 15px;
}
#searchContainer fieldset {
    margin-top: 10px;
}
#radioButtons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#searchBar {
    width: 50%;
}

/*  **** END Fieldset and Input **** */


/* ****** Begin Past-Entry Format ******* */

#entriesContainer {
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 80%;
    max-width: 550px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--primaryBlueOpacity);
    border: 2px ridge var(--borderColor);
    border-radius: 15px;

}
.entry {
    border: 2px ridge var(--borderColor);
    border-radius: 15px;
    background-color: var(--primaryBackGroundBlue);
    text-align: center;
    width: 76%;
    padding: 2%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

.entryDate {
    background-color: antiquewhite;
    border: 1px solid black;
    opacity: 80%;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}


.entryConcept {
    padding: 4px;
    border-bottom: 2px solid grey;
    
}

.entryMood{
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 4px;
}

/* ****** END Past-Entry Format ******** */